$pink: #FF008F;
$yellow: #FCEE22;
$green: #00B87C;
$teal: #10f1fc;
$purple: #3C0D5A;
$red: #C8004E;
$blue: #3C92C7;
$orange: #FF5E1A;

// bootstrap breakpoints
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

$animate-scss-speed: 1s;